*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}
:root {
    --primary-color: #2c5346;
    --secondary-color: #e4ca83;
    --text-dark: #1a1a1a;
    --text-light: #4c4d4f;
    --background: #fcfcfc;
}
body {
    background-color: var(--background);
}
.container {
    max-width: 1200px;
    margin: auto;

}
header {
    padding: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.055);
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 99;
}

.header-items {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: none;
}
nav a {
    text-decoration: none;
    color: var(--text-dark);
    padding: 0.25rem 0.5rem;
}

nav a :hover{
    color: var(--primary-color);
}

.logo h1 {
    color: var(--primary-color);
    font-size: 1.8rem;
}

.cart { 
    padding: 0.25rem 1rem 0.5rem;
    border-radius: 1rem;
    border: none;
    background-color: #efefef;
    color: var(--primary-color);
    height: auto;
}

.cart span {
    background-color: var(--primary-color);
    color: white;
    padding: 0.1rem 0.5rem;
    font-size: 0.5rem;
    border-radius: 0.5rem;
}
section {
    min-height: 80vh;
}
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 0.5rem 1rem;
}

@media (min-width: 768px) {
    nav {
        display: flex;
        gap: 0.5rem;

    }
}